{
    "extends": "@istanbuljs/nyc-config-babel",
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "html",
        "text",
        "lcov"
    ],
    "report-dir": "./coverage"
}
  